<div class="cmj-menu">
	<div class="cmj-menu-left">
		<div class="cmj-mobile">
			<cmj-menu-button class="border-right" (click)="openMenu()">
				<div class="cmj-menu-button-icon"></div>
			</cmj-menu-button>
		</div>
		<div class="cmj-tablet">
			<cmj-menu-button class="border-right">
				<span class="cmj-search-button-icon"></span>
				<span class="text">Search</span>
			</cmj-menu-button>
			<cmj-menu-button class="border-right">
				<span class="cmj-contact-button-icon"></span>
				<span class="text">Contact</span>
			</cmj-menu-button>
		</div>
		<div class="cmj-desktop">
			<cmj-menu-button class="border-right">
				<span class="cmj-search-button-icon"></span>
				<span class="text">Search</span>
			</cmj-menu-button>
			<cmj-menu-button class="border-right">
				<span class="cmj-contact-button-icon"></span>
				<span class="text">Contact</span>
			</cmj-menu-button>
		</div>
		<div class="cmj-large">
			<cmj-menu-button class="border-right">
				<span class="cmj-search-button-icon"></span>
				<span class="text">Search</span>
			</cmj-menu-button>
			<cmj-menu-button class="border-right">
				<span class="cmj-contact-button-icon"></span>
				<span class="text">Contact</span>
			</cmj-menu-button>
		</div>
	</div>
	<div class="cmj-menu-right">
		<div class="cmj-tablet">
			<cmj-menu-button class="border-left">
				<span class="text">Join CMJ</span>
				<span class="cmj-join-button-icon"></span>
			</cmj-menu-button>		
		</div>
		<div class="cmj-desktop">
			<cmj-menu-button class="border-left">
				<span class="text">Join CMJ</span>
				<span class="cmj-join-button-icon"></span>
			</cmj-menu-button>
		</div>
		<div class="cmj-large">
			<cmj-menu-button class="border-left">
				<span class="text">Join CMJ</span>
				<span class="cmj-join-button-icon"></span>
			</cmj-menu-button>
		</div>
		<cmj-menu-button class="orange border-left" (click)="doLogin()">
			<span class="text">Login</span>
			<span class="cmj-login-button-icon"></span>
		</cmj-menu-button>
	</div>
	<div class="cmj-menu-center">
		<a href="/"><div class="cmj-logo"></div></a>
	</div>
	<div class="cmj-mobile">
		<div class="cmj-menu-navigation close">
			<cmj-menu-button class="border-right" (click)="closeMenu()">
				<div class="cmj-close-button-icon"></div>
			</cmj-menu-button>
			<div class="cmj-menu-sub-nav">
				<cmj-menu-search></cmj-menu-search>
				<div class="cmj-menu-sub-nav-button">
					<div class="cmj-contact-button-icon"></div>
					Contact
				</div>
				<div class="cmj-menu-sub-nav-button last">
					<div class="cmj-join-button-icon"></div>
					Join CMJ
				</div>
			</div>
			<ul class="cmj-menu-navigation-items">
				<li><a href="#">News</a></li>
				<li><a href="#">CMJ Membership</a></li>
				<li><a href="#">Store Finder</a></li>
				<li><a href="#">Brands &amp; Services</a></li>
				<li><a href="#">Opportunities</a></li>
				<li><a href="#">About CMJ</a></li>
			</ul>
		</div>
	</div>
	<div class="cmj-tablet">
		<div class="cmj-menu-navigation">
			<ul class="cmj-menu-navigation-items">
				<li><a href="#">News</a></li>
				<li><a href="#">CMJ Membership</a></li>
				<li><a href="#">Store Finder</a></li>
				<li>
					<div class="cmj-button white" (click)="toggleTabletMenu(this)">
						{{showMoreText}} <span class="cmj-{{showMoreButtonIcon}}-button-icon"></span>
					</div>
				</li>
			</ul>
			<ul id="show-more-menu" class="cmj-menu-navigation-items hidden-menu-items">
				<li><a href="#">Brands &amp; Services</a></li>
				<li><a href="#">Opportunities</a></li>
				<li><a href="#">About CMJ</a></li>
			</ul>
		</div>
	</div>
	<div class="cmj-desktop">
		<div class="cmj-menu-navigation">
			<ul class="cmj-menu-navigation-items">
				<li><a href="#">News</a></li>
				<li><a href="#">CMJ Membership</a></li>
				<li><a href="#">Store Finder</a></li>
				<li><a href="#">Brands &amp; Services</a></li>
				<li><a href="#">Opportunities</a></li>
				<li><a href="#">About CMJ</a></li>
			</ul>
		</div>
	</div>
	<div class="cmj-large">
		<div class="cmj-menu-navigation">
			<ul class="cmj-menu-navigation-items">
				<li><a href="#">News</a></li>
				<li><a href="#">CMJ Membership</a></li>
				<li><a href="#">Store Finder</a></li>
				<li><a href="#">Brands &amp; Services</a></li>
				<li><a href="#">Opportunities</a></li>
				<li><a href="#">About CMJ</a></li>
			</ul>
		</div>
	</div>
</div>