.cmj-logo
{	
	@include icon(before, $logged-out-logo);
	
	color: $griffon-navy;
	font-size: 40px;
	transition: all 150ms ease-in-out;
	
	&.logged-in
	{
		@include icon(before, $logged-in-logo);
	}
	
}