.cmj-menu
{
	height: 56px;
	min-width: 320px;
	background: $corporate-blue;
	border-bottom: 1px solid $griffon-navy;
	transition: all 150ms ease-in-out;
	
	@media (min-width: $tablet) {
		height: 66px;
	}
	
	@media (min-width: $desktop) {
		height: 76px;
	}
	
	/* Menu Layout */
	.cmj-menu-left
	{
		float: left;
		width: 55px;
		transition: all 150ms ease-in-out;
		
		@media (min-width: $tablet) {
			width: auto;
		}
		@media (min-width: $desktop) {
			width: auto;
		}
	}
	.cmj-menu-center
	{
		text-align: center;
		width: 100%;
		transition: all 150ms ease-in-out;
		
		.cmj-logo
		{
			line-height: 56px;
		}
		
		@media (min-width: $tablet) {
			.cmj-logo
			{
				font-size: 43px;
				line-height: 66px;
			}
		}
		
		@media (min-width: $desktop) {
			.cmj-logo
			{
				font-size: 50px;
				line-height: 76px;
			}
		}
	}
	.cmj-menu-right
	{
		float: right;
		width: 55px;
		transition: all 150ms ease-in-out;
		
		@media (min-width: $tablet) {
			width: auto;
			
			.cmj-tablet { float: left; }
		}
		@media (min-width: $desktop) {
			width: auto;
			
			.cmj-desktop { float: left; }
		}
		@media (min-width: $large) {
			width: auto;
			
			.cmj-large { float: left; }
		}
	}
	
	/* Menu Icons */
	.cmj-menu-button-icon
	{
		@include icon('before', $menu-icon);
		line-height: inherit;
	}
	.cmj-login-button-icon
	{
		@include icon('after', $login-icon);
		line-height: inherit;
	}
	.cmj-close-button-icon
	{
		@include icon('before', $close-icon);
		line-height: inherit;
	}
	.cmj-search-button-icon
	{
		@include icon('before', $search-icon);
		line-height: inherit;
	}
	.cmj-contact-button-icon
	{
		@include icon('before', $contact-icon);
		line-height: inherit;
	}
	.cmj-join-button-icon
	{
		@include icon('after', $join-icon);
		line-height: inherit;
	}
	.cmj-up-button-icon
	{
		@include icon('before', $up-icon);
		line-height: inherit;
	}
	.cmj-down-button-icon
	{
		@include icon('before', $down-icon);
		line-height: inherit;
	}
	
	/* Sub navigations */
	.cmj-menu-navigation
	{
		top: -100%;
		left: -100%;
		width: 100%;
		height: 100%;
		position: absolute;
		min-width: 320px;
		z-index: 0;
		background: $corporate-blue;
		transition: left 150ms ease-in-out;
		text-align: center;
		border-bottom: 1px solid $griffon-navy;
		
		
		@media (min-width: $tablet) {
			position: relative;
			top: auto;
			left: auto;
			height: 56px;
		}
		
		@media (min-width: $desktop) {
			position: relative;
			top: auto;
			left: auto;
			height: 66px;
		}
	
		@media (min-width: $large) {
			position: relative;
			top: auto;
			left: auto;
			height: 66px;
		}
		
		&.open
		{
			top: 0px;
			left: 0px;
		}
		
	}
	
	.cmj-menu-navigation-items
	{
	    margin: 0px;
	    padding: 0px;
	    padding-top: 10px;
	    padding-bottom: 10px;
		background: $corporate-blue;
		overflow: auto;
		height: auto;
		transition: all 150ms ease-in-out;
		
		@media (min-width: $tablet) {
			line-height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		@media (min-width: $desktop) {
			line-height: 65px;
			padding: 0px;
		}
		
		&#show-more-menu { border-bottom: 1px solid $griffon-navy; padding-top: 0px; }
		&.hidden-menu-items { height: 0px; padding: 0px; border-bottom: 0px !important; overflow: hidden; }
		
	    li 
	    {
		    list-style: none;
		    
			@media (min-width: $tablet) {
				display: inline-block;
				padding-left: 7px;
				font-size: 14px;
				line-height: 24px;
			}
			
			@media (min-width: $desktop) {
				display: inline-block;
				padding-left: 15px;
				font-size: 14px;
				line-height: 24px;
			}
		    
		    a 
		    {
			    display: block;
			    color: #fff;
			    padding: 10px;
			    font-weight: bold;
			    
				@media (min-width: $tablet) {
					padding: 5px;
				}
		    }
	    }
	    
	    @include clearfix;
	}
	
	.cmj-menu-sub-nav
	{
		border-top: 1px solid $griffon-navy;
		border-bottom: 1px solid $griffon-navy;
		
		.cmj-menu-sub-nav-button
		{
			width: 33.333%;
			border-right: 1px solid $griffon-navy;
			float: left;
			text-align: center;
			padding: 10px;
			
			&:hover
			{
				background: darken($corporate-blue, 10%);
			}
			
			&.last
			{
				border: none;
			}
			
			div
			{
				margin-bottom: 5px;
			}
		}
		
		@include clearfix;
	}
	
	@include clearfix;
}