.cmj-menu-button
{
	display: block;
	height: 55px;
	width: 55px;    
    line-height: 55px;
	background: $corporate-blue;
	color: $griffon-navy;
	text-align: center;
	cursor: pointer;
	transition: all 150ms ease-in-out;
	
	.text { display: none; }
	
	span
	{
		&:before
		{
			margin-right: 5px;
		}
		&:after
		{
			margin-left: 5px;
		}
	}
	
	@media (min-width: $tablet) {
		width: auto;
		height: 65px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 65px;
		float: left;
		
		.text { display: inline-block; }
	}
	
	@media (min-width: $desktop) {
		height: 75px;
		line-height: 75px;	
		padding-left: 35px;
		padding-right: 35px;
	}
	
	&:hover
	{
		background: darken($corporate-blue, 10%);
	}
	
	&.border-right
	{
		border-right: 1px solid $griffon-navy;
	}
	&.border-left
	{
		border-left: 1px solid $griffon-navy;
	}
	
	&.orange
	{
		background: $attention-orange;
		
		&:hover
		{
			background: darken($attention-orange, 10%);
		}
	}
	&.green
	{
		background: $success-green;
		
		&:hover
		{
			background: darken($success-green, 10%);
		}
	}
	&.dark-blue
	{
		background: $griffon-navy;
		color: #fff;
		
		&:hover
		{
			background: darken($griffon-navy, 10%);
		}
	}
}