.cmj-button
{
	height: 30px;
	line-height: 30px;	
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
	border: 2px solid $griffon-navy;
	background: $griffon-navy;
	color: $white;
	cursor: pointer;
	
	/* Sizes */
	&.small
	{
		height: 40px;
		line-height: 40px;	
	}
	&.medium
	{
		height: 50px;	
		line-height: 50px;	
	}
	&.large
	{
		height: 60px;	
		line-height: 60px;	
	}
	
	/* Primary & Secondary */
	
	&.secondary
	{
		
	}
	
	/* Colours */
	&.white
	{
		color: $white;
		border-color: $white;
		background: transparent;
	}
	&.grey
	{
		background: $mid-grey;
		border-color: $mid-grey;
		color: #fff;
	}
	
}