html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body 
{
	min-width: 320px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a 
{
	border: 0;
	text-decoration: none;
}