$tablet: 600px; 
$desktop: 1280px;
$large: 1440px;

.cmj-mobile { display: block; transition: all 150ms ease-in-out; }
.cmj-tablet { display: none; transition: all 150ms ease-in-out; }
.cmj-desktop { display: none; transition: all 150ms ease-in-out; }
.cmj-large { display: none; transition: all 150ms ease-in-out; }

@media (min-width: $tablet) {
	.cmj-mobile  { display: none; }
	.cmj-tablet  { display: block; }
	.cmj-desktop { display: none; }
	.cmj-large   { display: none; }
}

@media (min-width: $desktop) {
	.cmj-mobile  { display: none; }
	.cmj-tablet  { display: none; }
	.cmj-desktop { display: block; }
	.cmj-large   { display: none; }
}

@media (min-width: $large) {
	.cmj-mobile  { display: none; }
	.cmj-tablet  { display: none; }
	.cmj-desktop { display: none; }
	.cmj-large   { display: block; }
}