//Corporate Pallette
$corporate-blue: #40B4E5;
$griffon-navy: #0C223F;

//Neutral Pallette
$white: #fff;
$light-grey: #DAD8D6;
$mid-grey: #B3B1B1;
$dark-grey: #555559;
$black: #000;

//Provocative pallette
$success-green: #22D3C5;
$highlight-yellow: #FFD100;
$attention-orange: #FF9E15;
$warning-red: #FF485B;