@font-face {
  font-family: 'icomoon';
  src:  url('icons/icomoon.eot?oa2p73');
  src:  url('icons/icomoon.eot?oa2p73#iefix') format('embedded-opentype'),
    url('icons/icomoon.woff2?oa2p73') format('woff2'),
    url('icons/icomoon.ttf?oa2p73') format('truetype'),
    url('icons/icomoon.woff?oa2p73') format('woff'),
    url('icons/icomoon.svg?oa2p73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($side, $icon)
{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	@if $side == 'before'
	{
		&:before
		{
			content: $icon
		}
	}
	@else
	{
		&:after
		{
			content: $icon
		}
	}
}

$login-icon: "\f090";
$menu-icon: "\f0c9";
$close-icon: "\f00d";
$search-icon: "\f002";
$contact-icon: "\f095";
$join-icon: "\e901";
$down-icon: "\f078";
$up-icon: "\f077";
$logged-out-logo: "\e902";
$logged-in-logo: "\e900";


